[Desktop Entry]
Encoding=UTF-8
Name=Naufrago!
Icon=/usr/share/naufrago/Viking_Longship.svg
Exec=/usr/bin/pngcrushgtk
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
StartupNotify=False
